[options]
addons_path = {{ default "/odoo/addons" .Env.ODOO_ADDONS_PATH }}
admin_passwd = {{ default "admin" .Env.ODOO_ADMIN_PASSWD }}
csv_internal_sep = {{ default "," .Env.ODOO_CSV_INTERNAL_SEP }}
data_dir = {{ default "/odoo/data" .Env.ODOO_DATA_DIR }}
dbfilter = {{ default "^[^backup|defaultdb].*$" .Env.ODOO_DBFILTER }}
db_host = {{ default "db" .Env.PGHOST }}
db_maxconn = {{ default "64" .Env.ODOO_DB_MAXCONN }}
db_name = {{ default "False" .Env.PGDATABASE }}
db_password = {{ default "odoo" .Env.PGPASSWORD }}
db_port = {{ default "5432" .Env.PGPORT }}
db_sslmode = {{ default "prefer" .Env.PGSSLMODE }}
db_template = {{ default "template0" .Env.ODOO_DB_TEMPLATE }}
db_user = {{ default "odoo" .Env.PGUSER }}
demo = {{ default "{}" .Env.ODOO_DEMO }}
email_from = {{ default "False" .Env.ODOO_EMAIL_FROM }}
geoip_database = {{ default "/usr/share/GeoIP/GeoLite2-City.mmdb" .Env.ODOO_GEOIP_DATABASE }}
http_enable = {{ default "True" .Env.ODOO_HTTP_ENABLE }}
http_interface = {{ default "" .Env.ODOO_HTTP_INTERFACE }}
http_port = {{ default "8069" .Env.ODOO_HTTP_PORT }}
import_partial = {{ default "" .Env.ODOO_IMPORT_PARTIAL }}
limit_memory_hard = {{ default "4294967296" .Env.ODOO_LIMIT_MEMORY_HARD }}
limit_memory_soft = {{ default "2147483648" .Env.ODOO_LIMIT_MEMORY_SOFT }}
limit_request = {{ default "8192" .Env.ODOO_LIMIT_REQUEST }}
limit_time_cpu = {{ default "1800" .Env.ODOO_LIMIT_TIME_CPU }}
limit_time_real_cron = {{ default "120" .Env.ODOO_LIMIT_TIME_REAL_CRON }}
limit_time_real = {{ default "1800" .Env.ODOO_LIMIT_TIME_REAL }}
list_db = {{ default "False" .Env.ODOO_LIST_DB }}
log_db = {{ default "False" .Env.ODOO_LOG_DB }}
log_db_level = {{ default "warning" .Env.ODOO_LOG_DB_LEVEL }}
logfile = {{ default "None" .Env.ODOO_LOGFILE }}
log_handler = {{ default ":INFO" .Env.ODOO_LOG_HANDLER }}
log_level = {{ default "info" .Env.ODOO_LOG_LEVEL }}
logrotate = {{ default "False" .Env.ODOO_LOGROTATE }}
gevent_port = {{ default "8072" .Env.ODOO_GEVENT_PORT }}
max_cron_threads = {{ default "1" .Env.ODOO_MAX_CRON_THREADS }}
osv_memory_count_limit = {{ default "False" .Env.ODOO_OSV_MEMORY_COUNT_LIMIT }}
pg_path = {{ default "" .Env.ODOO_PG_PATH }}
pidfile = {{ default "" .Env.ODOO_PIDFILE }}
proxy_mode = {{ default "True" .Env.ODOO_PROXY_MODE }}
reportgz = {{ default "False" .Env.ODOO_REPORTGZ }}
screencasts = {{ default "False" .Env.ODOO_SCREENCASTS }}
screenshots = {{ default "/tmp/odoo_tests" .Env.ODOO_SCREENSHOTS }}
server_wide_modules = {{ default "web,monitoring_status" .Env.ODOO_SERVER_WIDE_MODULES }}
smtp_password = {{ default "False" .Env.ODOO_SMTP_PASSWORD }}
smtp_port = {{ default "25" .Env.ODOO_SMTP_PORT }}
smtp_server = {{ default "localhost" .Env.ODOO_SMTP_SERVER }}
smtp_ssl = {{ default "False" .Env.ODOO_SMTP_SSL }}
smtp_user = {{ default "False" .Env.ODOO_SMTP_USER }}
syslog = {{ default "False" .Env.ODOO_SYSLOG }}
test_enable = {{ default "False" .Env.ODOO_TEST_ENABLE }}
test_file = {{ default "" .Env.ODOO_TEST_FILE }}
test_tags = {{ default "None" .Env.ODOO_TEST_TAGS }}
translate_modules = {{ default "['all']" .Env.ODOO_TRANSLATE_MODULES }}
transient_age_limit = {{ default "1.0" .Env.ODOO_TRANSIENT_AGE_LIMIT }}
unaccent = {{ default "False" .Env.ODOO_UNACCENT }}
upgrade_path = {{ default "" .Env.ODOO_UPGRADE_PATH }}
without_demo = {{ default "all" .Env.ODOO_WITHOUT_DEMO }}
workers = {{ default "3" .Env.ODOO_WORKERS }}
xmlrpc_interface = {{ default "" .Env.ODOO_XMLRPC_INTERFACE }}
