[submodule "odoo-12-odoo-cloud-platform"]
	path = odoo/12.0/src/odoo-cloud-platform
	url = https://github.com/ursais/odoo-cloud-platform.git
#	url = https://github.com/camptocamp/odoo-cloud-platform.git
#	branch = 12.0
[submodule "odoo-13-odoo-cloud-platform"]
	path = odoo/13.0/src/odoo-cloud-platform
	url = https://github.com/ursais/odoo-cloud-platform.git
#	url = https://github.com/camptocamp/odoo-cloud-platform.git
#	branch = 13.0
[submodule "odoo-14-odoo-cloud-platform"]
	path = odoo/14.0/src/odoo-cloud-platform
	url = https://github.com/ursais/odoo-cloud-platform.git
#	url = https://github.com/camptocamp/odoo-cloud-platform.git
#	branch = 14.0
[submodule "odoo-15-odoo-cloud-platform"]
	path = odoo/15.0/src/odoo-cloud-platform
	url = https://github.com/camptocamp/odoo-cloud-platform.git
	branch = 15.0
[submodule "odoo/16.0/src/odoo-cloud-platform"]
	path = odoo/16.0/src/odoo-cloud-platform
	url = https://github.com/camptocamp/odoo-cloud-platform.git
