{{ if contains "aws" .Env.FILESTORE_PLATFORM }}
[filestore]
type = s3
provider = AWS
env_auth = false
access_key_id = {{ default "" .Env.FILESTORE_AWS_ACCESS_KEY_ID }}
secret_access_key = {{ default "" .Env.FILESTORE_AWS_SECRET_ACCESS_KEY }}
region = {{ default "" .Env.FILESTORE_AWS_REGION }}
acl = private
{{ end }}
{{ if contains "azure" .Env.FILESTORE_PLATFORM }}
[filestore]
type = azureblob
sas_url = {{ default "" .Env.FILESTORE_AZURE_STORAGE_ACCOUNT_URL }}
{{ end }}
{{ if contains "do" .Env.FILESTORE_PLATFORM }}
[filestore]
type = s3
provider = DigitalOcean
env_auth = true
access_key_id = {{ default "" .Env.FILESTORE_AWS_ACCESS_KEY_ID }}
secret_access_key = {{ default "" .Env.FILESTORE_AWS_SECRET_ACCESS_KEY }}
endpoint = {{ default "" .Env.FILESTORE_AWS_HOST }}
acl = private
{{ end }}

{{ if contains "aws" .Env.BACKUP_PLATFORM }}
[backup]
type = s3
provider = AWS
env_auth = false
access_key_id = {{ default "" .Env.BACKUP_AWS_ACCESS_KEY_ID }}
secret_access_key = {{ default "" .Env.BACKUP_AWS_SECRET_ACCESS_KEY }}
region = {{ default "" .Env.BACKUP_AWS_REGION }}
location_constraint = {{ default "" .Env.BACKUP_AWS_REGION }}
acl = private
{{ end }}
{{ if contains "azure" .Env.BACKUP_PLATFORM }}
[backup]
type = azureblob
sas_url = {{ default "" .Env.BACKUP_AZURE_STORAGE_ACCOUNT_URL }}
{{ end }}
{{ if contains "do" .Env.BACKUP_PLATFORM }}
[backup]
type = s3
provider = DigitalOcean
env_auth = true
access_key_id = {{ default "" .Env.BACKUP_AWS_ACCESS_KEY_ID }}
secret_access_key = {{ default "" .Env.BACKUP_AWS_SECRET_ACCESS_KEY }}
endpoint = {{ default "" .Env.BACKUP_AWS_HOST }}
acl = private
{{ end }}

{{ if .Env.REMOTE_ENABLED }}
{{ if contains "aws" .Env.REMOTE_PLATFORM }}
[remote]
type = s3
provider = AWS
env_auth = false
access_key_id = {{ default "" .Env.REMOTE_AWS_ACCESS_KEY_ID }}
secret_access_key = {{ default "" .Env.REMOTE_AWS_SECRET_ACCESS_KEY }}
region = {{ default "" .Env.REMOTE_AWS_REGION }}
location_constraint = {{ default "" .Env.REMOTE_AWS_REGION }}
acl = private
{{ end }}
{{ if contains "azure" .Env.REMOTE_PLATFORM }}
[remote]
type = azureblob
sas_url = {{ default "" .Env.REMOTE_AZURE_STORAGE_ACCOUNT_URL }}
{{ end }}
{{ if contains "do" .Env.REMOTE_PLATFORM }}
[remote]
type = s3
provider = DigitalOcean
env_auth = true
access_key_id = {{ default "" .Env.REMOTE_AWS_ACCESS_KEY_ID }}
secret_access_key = {{ default "" .Env.REMOTE_AWS_SECRET_ACCESS_KEY }}
endpoint = {{ default "" .Env.REMOTE_AWS_HOST }}
acl = private
{{ end }}
{{ end }}
