#Temporarily commment until c2c release updated python package for anthem
#anthem
#Install from v15 expierimental Anthem branch
https://github.com/max3903/anthem/archive/refs/heads/patch-1.zip
azure-storage-blob
boto3
marabunta
numpy
openupgradelib
redis
urllib3
