[options]
addons_path = {{ default .Env.ODOO_ADDONS_PATH "/addons" }}
admin_passwd = {{ default .Env.ODOO_ADMIN_PASSWD "admin" }}
csv_internal_sep = {{ default .Env.ODOO_CSV_INTERNAL_SEP "," }}
data_dir = {{ default .Env.ODOO_DATA_DIR "/data" }}
dbfilter = {{ default .Env.ODOO_DBFILTER "^[^BACKUP|defaultdb].*$" }}
db_host = {{ default .Env.PGHOST "db" }}
db_maxconn = {{ default .Env.ODOO_DB_MAXCONN "64" }}
db_name = {{ default .Env.PGDATABASE "False" }}
db_password = {{ default .Env.PGPASSWORD "odoo" }}
db_port = {{ default .Env.PGPORT "5432" }}
db_sslmode = {{ default .Env.ODOO_DB_SSLMODE "prefer" }}
db_template = {{ default .Env.ODOO_DB_TEMPLATE "template0" }}
db_user = {{ default .Env.PGUSER "odoo" }}
demo = {{ default .Env.ODOO_DEMO "{}" }}
email_from = {{ default .Env.ODOO_EMAIL_FROM "False" }}
geoip_database = {{ default .Env.ODOO_GEOIP_DATABASE "/usr/share/GeoIP/GeoLite2-City.mmdb" }}
http_enable = {{ default .Env.ODOO_HTTP_ENABLE "True" }}
http_interface = {{ default .Env.ODOO_HTTP_INTERFACE "" }}
http_port = 8069
import_partial = {{ default .Env.ODOO_IMPORT_PARTIAL "" }}
limit_memory_hard = {{ default .Env.ODOO_LIMIT_MEMORY_HARD "4294967296" }}
limit_memory_soft = {{ default .Env.ODOO_LIMIT_MEMORY_SOFT "2147483648" }}
limit_request = {{ default .Env.ODOO_LIMIT_REQUEST "8192" }}
limit_time_cpu = {{ default .Env.ODOO_LIMIT_TIME_CPU "1800" }}
limit_time_real_cron = {{ default .Env.ODOO_LIMIT_TIME_REAL_CRON "120" }}
limit_time_real = {{ default .Env.ODOO_LIMIT_TIME_REAL "1800" }}
list_db = {{ default .Env.ODOO_LIST_DB "False" }}
log_db = {{ default .Env.ODOO_LOG_DB "False" }}
log_db_level = {{ default .Env.ODOO_LOG_DB_LEVEL "warning" }}
logfile = {{ default .Env.ODOO_LOGFILE "None" }}
log_handler = {{ default .Env.ODOO_LOG_HANDLER ":INFO" }}
log_level = {{ default .Env.ODOO_LOG_LEVEL "info" }}
logrotate = {{ default .Env.ODOO_LOGROTATE "False" }}
longpolling_port = 8072
max_cron_threads = {{ default .Env.ODOO_MAX_CRON_THREADS "1" }}
osv_memory_age_limit = {{ default .Env.ODOO_OSV_MEMORY_AGE_LIMIT "1.0" }}
osv_memory_count_limit = {{ default .Env.ODOO_OSV_MEMORY_COUNT_LIMIT "False" }}
pg_path = {{ default .Env.ODOO_PG_PATH "" }}
pidfile = {{ default .Env.ODOO_PIDFILE "" }}
proxy_mode = {{ default .Env.ODOO_PROXY_MODE "True" }}
reportgz = {{ default .Env.ODOO_REPORTGZ "False" }}
screencasts = {{ default .Env.ODOO_SCREENCASTS "" }}
screenshots = {{ default .Env.ODOO_SCREENSHOTS "/tmp/odoo_tests" }}
server_wide_modules = {{ default .Env.ODOO_SERVER_WIDE_MODULES "web,attachment_s3,monitoring_status,session_redis" }}
smtp_password = {{ default .Env.ODOO_SMTP_PASSWORD "False" }}
smtp_port = {{ default .Env.ODOO_SMTP_PORT "25" }}
smtp_server = {{ default .Env.ODOO_SMTP_SERVER "localhost" }}
smtp_ssl = {{ default .Env.ODOO_SMTP_SSL "False" }}
smtp_user = {{ default .Env.ODOO_SMTP_USER "False" }}
syslog = {{ default .Env.ODOO_SYSLOG "False" }}
test_enable = {{ default .Env.ODOO_TEST_ENABLE "False" }}
test_file = {{ default .Env.ODOO_TEST_FILE "" }}
test_tags = {{ default .Env.ODOO_TEST_TAGS "None" }}
translate_modules = {{ default .Env.ODOO_TRANSLATE_MODULES "['all']" }}
unaccent = {{ default .Env.ODOO_UNACCENT "False" }}
upgrade_path = {{ default .Env.ODOO_UPGRADE_PATH "" }}
without_demo = {{ default .Env.ODOO_WITHOUT_DEMO "all" }}
workers = {{ default .Env.ODOO_WORKERS "3" }}
xmlrpc_interface = {{ default .Env.ODOO_XMLRPC_INTERFACE "" }}
