[options]
addons_path = {{ default "/odoo/addons" .Env.ODOO_ADDONS_PATH }}
admin_passwd = {{ default "admin" .Env.ODOO_ADMIN_PASSWD }}
csv_internal_sep = {{ default "," .Env.ODOO_CSV_INTERNAL_SEP }}
data_dir = {{ default "/odoo/data" .Env.ODOO_DATA_DIR }}
db_app_name = {{ default "odoo" .Env.ODOO_DB_APP_NAME }}
dbfilter = {{ default "^(?!backup|defaultdb).*$" .Env.ODOO_DBFILTER }}
db_host = {{ default "db" .Env.PGHOST }}
db_maxconn = {{ default "64" .Env.ODOO_DB_MAXCONN }}
db_maxconn_gevent = {{ default "64" .Env.ODOO_DB_MAXCONN_GEVENT }}
db_name = {{ default "" .Env.PGDATABASE }}
db_password = {{ default "odoo" .Env.PGPASSWORD }}
db_port = {{ default "5432" .Env.PGPORT }}
{{- if .Env.ODOO_DB_REPLICA_HOST }}
db_replica_host = {{ .Env.ODOO_DB_REPLICA_HOST }}
db_replica_port = {{ default "5432" .Env.ODOO_DB_REPLICA_PORT }}
{{- end }}
db_sslmode = {{ default "prefer" .Env.PGSSLMODE }}
db_template = {{ default "template0" .Env.ODOO_DB_TEMPLATE }}
db_user = {{ default "odoo" .Env.PGUSER }}
{{- if .Env.ODOO_DEFAULT_PRODUCTIVITY_APPS }}
default_productivity_apps = {{ .Env.ODOO_DEFAULT_PRODUCTIVITY_APPS }}
{{- end }}
email_from = {{ default "" .Env.ODOO_EMAIL_FROM }}
from_filter = {{ default "" .Env.ODOO_FROM_FILTER }}
geoip_city_db = {{ default "/usr/share/GeoIP/GeoLite2-City.mmdb" .Env.ODOO_GEOIP_CITY_DB }}
geoip_country_db = {{ default "/usr/share/GeoIP/GeoLite2-Country.mmdb" .Env.ODOO_GEOIP_COUNTRY_DB }}
gevent_port = {{ default "8072" .Env.ODOO_GEVENT_PORT }}
http_enable = {{ default "True" .Env.ODOO_HTTP_ENABLE }}
http_interface = {{ default "0.0.0.0" .Env.ODOO_HTTP_INTERFACE }}
http_port = {{ default "8069" .Env.ODOO_HTTP_PORT }}
import_file_maxbytes = {{ default "10485760" .Env.ODOO_IMPORT_FILE_MAXBYTES }}
import_file_timeout = {{ default "3" .Env.ODOO_IMPORT_FILE_TIMEOUT }}
import_partial = {{ default "" .Env.ODOO_IMPORT_PARTIAL }}
limit_memory_hard = {{ default "2684354560" .Env.ODOO_LIMIT_MEMORY_HARD }}
limit_memory_hard_gevent = {{ default "2684354560" .Env.ODOO_LIMIT_MEMORY_HARD_GEVENT }}
limit_memory_soft = {{ default "2147483648" .Env.ODOO_LIMIT_MEMORY_SOFT }}
limit_memory_soft_gevent = {{ default "2147483648" .Env.ODOO_LIMIT_MEMORY_SOFT_GEVENT }}
limit_request = {{ default "65536" .Env.ODOO_LIMIT_REQUEST }}
limit_time_cpu = {{ default "1800" .Env.ODOO_LIMIT_TIME_CPU }}
limit_time_real = {{ default "1800" .Env.ODOO_LIMIT_TIME_REAL }}
limit_time_real_cron = {{ default "120" .Env.ODOO_LIMIT_TIME_REAL_CRON }}
limit_time_worker_cron = {{ default "0" .Env.ODOO_LIMIT_TIME_WORKER_CRON }}
list_db = {{ default "False" .Env.ODOO_LIST_DB }}
log_db = {{ default "" .Env.ODOO_LOG_DB }}
log_db_level = {{ default "warning" .Env.ODOO_LOG_DB_LEVEL }}
logfile = {{ default "None" .Env.ODOO_LOGFILE }}
log_handler = {{ default ":INFO" .Env.ODOO_LOG_HANDLER }}
log_level = {{ default "info" .Env.ODOO_LOG_LEVEL }}
max_cron_threads = {{ default "1" .Env.ODOO_MAX_CRON_THREADS }}
osv_memory_count_limit = {{ default "0" .Env.ODOO_OSV_MEMORY_COUNT_LIMIT }}
pg_path = {{ default "" .Env.ODOO_PG_PATH }}
pidfile = {{ default "" .Env.ODOO_PIDFILE }}
proxy_access_token = {{ default "" .Env.ODOO_PROXY_ACCESS_TOKEN }}
proxy_mode = {{ default "True" .Env.ODOO_PROXY_MODE }}
reportgz = {{ default "False" .Env.ODOO_REPORTGZ }}
screencasts = {{ default "" .Env.ODOO_SCREENCASTS }}
screenshots = {{ default "/tmp/odoo_tests" .Env.ODOO_SCREENSHOTS }}
server_wide_modules = {{ default "web,monitoring_status" .Env.ODOO_SERVER_WIDE_MODULES }}
skip_auto_install = {{ default "False" .Env.ODOO_SKIP_AUTO_INSTALL }}
smtp_password = {{ default "" .Env.ODOO_SMTP_PASSWORD }}
smtp_port = {{ default "25" .Env.ODOO_SMTP_PORT }}
smtp_server = {{ default "localhost" .Env.ODOO_SMTP_SERVER }}
smtp_ssl = {{ default "False" .Env.ODOO_SMTP_SSL }}
smtp_ssl_certificate_filename = {{ default "" .Env.ODOO_SMTP_SSL_CERTIFICATE_FILENAME }}
smtp_ssl_private_key_filename = {{ default "" .Env.ODOO_SMTP_SSL_PRIVATE_KEY_FILENAME }}
smtp_user = {{ default "" .Env.ODOO_SMTP_USER }}
syslog = {{ default "False" .Env.ODOO_SYSLOG }}
test_enable = {{ default "False" .Env.ODOO_TEST_ENABLE }}
test_file = {{ default "" .Env.ODOO_TEST_FILE }}
test_tags = {{ default "None" .Env.ODOO_TEST_TAGS }}
transient_age_limit = {{ default "1.0" .Env.ODOO_TRANSIENT_AGE_LIMIT }}
unaccent = {{ default "False" .Env.ODOO_UNACCENT }}
upgrade_path = {{ default "" .Env.ODOO_UPGRADE_PATH }}
websocket_keep_alive_timeout = {{ default "3600" .Env.ODOO_WEBSOCKET_KEEP_ALIVE_TIMEOUT }}
websocket_rate_limit_burst = {{ default "10" .Env.ODOO_WEBSOCKET_RATE_LIMIT_BURST }}
websocket_rate_limit_delay = {{ default "0.2" .Env.ODOO_WEBSOCKET_RATE_LIMIT_DELAY }}
with_demo = {{ default "False" .Env.ODOO_WITH_DEMO }}
workers = {{ default "3" .Env.ODOO_WORKERS }}
x_sendfile = {{ default "False" .Env.ODOO_X_SENDFILE }}
