# -*- coding: utf-8 -*-
#
# Copyright (C) 2007-2015 by frePPLe bv
#
# This library is free software; you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
# General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

r"""
Main Django configuration file.
"""
import os
import sys

from django.utils.translation import gettext_lazy as _

try:
    DEBUG = "runserver" in sys.argv
except Exception:
    DEBUG = False
DEBUG_JS = DEBUG

ADMINS = (
    ('{{ default "admin@example.com" .Env.FREPPLE_ADMIN_NAME "false" }}', '{{ default .Env.FREPPLE_ADMIN_EMAIL }}'),
)

# ================= START UPDATED BLOCK BY WINDOWS INSTALLER =================

SECRET_KEY = "{{ default "false" .Env.FREPPLE_SECRET_KEY }}"

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "{{ default "false" .Env.PGDATABASE }}",
        "USER": "{{ default "frepple" .Env.PGUSER }}",
        "PASSWORD": "{{ default "frepple" .Env.PGPASSWORD }}",
        "HOST": "{{ default "localhost" .Env.PGHOST }}",
        "PORT": "{{ default "5432" .Env.PGPORT }}",
        "OPTIONS": {{ default "{}" .Env.FREPPLE_OPTIONS }},
        "CONN_MAX_AGE": {{ default "60" .Env.FREPPLE_CONN_MAX_AGE }},
        "TEST": {
            "NAME": "{{ default "test_frepple" .Env.FREPPLE_TEST_NAME }}"  # Database name used when running the test suite.
        },
        "FILEUPLOADFOLDER": os.path.normpath(
            os.path.join(FREPPLE_LOGDIR, "data", "default")
        ),
        "SQL_ROLE": "{{ default "report_role" .Env.FREPPLE_SQL_ROLE }}",
        "SECRET_WEBTOKEN_KEY": "{{ default "SECRET_KEY" .Env.FREPPLE_SECRET_WEBTOKEN_KEY }}",
        "FREPPLE_PORT": "{{ default "127.0.0.1:8002" .Env.FREPPLE_PORT_DEFAULT }}"
    },
    "scenario1": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "scenario1",
        "USER": "{{ default "frepple" .Env.PGUSER }}",
        "PASSWORD": "{{ default "frepple" .Env.PGPASSWORD }}",
        "HOST": "{{ default "localhost" .Env.PGHOST }}",
        "PORT": "{{ default "5432" .Env.PGPORT }}",
        "OPTIONS": {{ default "{}" .Env.FREPPLE_OPTIONS }},
        "CONN_MAX_AGE": {{ default "60" .Env.FREPPLE_CONN_MAX_AGE }},
        "TEST": {
            "NAME": "test_scenario1"  # Database name used when running the test suite.
        },
        "FILEUPLOADFOLDER": os.path.normpath(
            os.path.join(FREPPLE_LOGDIR, "data", "scenario1")
        ),
        "SQL_ROLE": "{{ default "report_role" .Env.FREPPLE_SQL_ROLE }}",
        "SECRET_WEBTOKEN_KEY": "{{ default "SECRET_KEY" .Env.FREPPLE_SECRET_WEBTOKEN_KEY }}",
        "FREPPLE_PORT": "{{ default "127.0.0.1:8003" .Env.FREPPLE_PORT_SCENARIO1 }}"
    },
    "scenario2": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "scenario2",
        "USER": "{{ default "frepple" .Env.PGUSER }}",
        "PASSWORD": "{{ default "frepple" .Env.PGPASSWORD }}",
        "HOST": "{{ default "localhost" .Env.PGHOST }}",
        "PORT": "{{ default "5432" .Env.PGPORT }}",
        "OPTIONS": {{ default "{}" .Env.FREPPLE_OPTIONS }},
        "CONN_MAX_AGE": {{ default "60" .Env.FREPPLE_CONN_MAX_AGE }},
        "TEST": {
            "NAME": "test_scenario2"  # Database name used when running the test suite.
        },
        "FILEUPLOADFOLDER": os.path.normpath(
            os.path.join(FREPPLE_LOGDIR, "data", "scenario2")
        ),
        "SQL_ROLE": "{{ default "report_role" .Env.FREPPLE_SQL_ROLE }}",
        "SECRET_WEBTOKEN_KEY": "{{ default "SECRET_KEY" .Env.FREPPLE_SECRET_WEBTOKEN_KEY }}",
        "FREPPLE_PORT": "{{ default "127.0.0.1:8004" .Env.FREPPLE_PORT_SCENARIO2 }}"
    },
    "scenario3": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "scenario3",
        "USER": "{{ default "frepple" .Env.PGUSER }}",
        "PASSWORD": "{{ default "frepple" .Env.PGPASSWORD }}",
        "HOST": "{{ default "localhost" .Env.PGHOST }}",
        "PORT": "{{ default "5432" .Env.PGPORT }}",
        "OPTIONS": {{ default "{}" .Env.FREPPLE_OPTIONS }},
        "CONN_MAX_AGE": {{ default "60" .Env.FREPPLE_CONN_MAX_AGE }},
        "TEST": {
            "NAME": "test_scenario3"  # Database name used when running the test suite.
        },
        "FILEUPLOADFOLDER": os.path.normpath(
            os.path.join(FREPPLE_LOGDIR, "data", "scenario3")
        ),
        "SQL_ROLE": "{{ default "report_role" .Env.FREPPLE_SQL_ROLE }}",
        "SECRET_WEBTOKEN_KEY": "{{ default "SECRET_KEY" .Env.FREPPLE_SECRET_WEBTOKEN_KEY }}",
        "FREPPLE_PORT": "{{ default "127.0.0.1:8005" .Env.FREPPLE_PORT_SCENARIO3 }}"
    },
}

LANGUAGE_CODE = "{{ default "en" .Env.FREPPLE_LANGUAGE_CODE }}"
GOOGLE_ANALYTICS = {{ default "None" .Env.FREPPLE_GOOGLE_ANALYTICS }}  # "UA-1950616-4"

# ================= END UPDATED BLOCK BY WINDOWS INSTALLER =================

SUPPORT_USERS = []
ODOO_PASSWORDS = {
  "default": "{{ default "" .Env.FREPPLE_ODOO_PASSWORD_DEFAULT }}",
  "scenario1": "{{ default "" .Env.FREPPLE_ODOO_PASSWORD_SCENARIO1 }}",
  "scenario2": "{{ default "" .Env.FREPPLE_ODOO_PASSWORD_SCENARIO2 }}",
  "scenario3": "{{ default "" .Env.FREPPLE_ODOO_PASSWORD_SCENARIO3 }}"
}
TIME_ZONE = "{{ default "America/Phoenix" .Env.FREPPLE_TIME_ZONE }}"
LANGUAGES = (
    ("en", _("English")),
    ("fr", _("French")),
    ("de", _("German")),
    ("he", _("Hebrew")),
    ("hr", _("Croatian")),
    ("it", _("Italian")),
    ("ja", _("Japanese")),
    ("nl", _("Dutch")),
    ("pt", _("Portuguese")),
    ("pt-br", _("Brazilian Portuguese")),
    ("ru", _("Russian")),
    ("es", _("Spanish")),
    ("zh-hans", _("Simplified Chinese")),
    ("zh-hant", _("Traditional Chinese")),
    ("uk", _("Ukrainian")),
)
SESSION_COOKIE_AGE = {{ default "3600 * 24 * 3" .Env.FREPPLE_SESSION_COOKIE_AGE }}
SESSION_LOGOUT_IDLE_TIME = {{ default "60" .Env.FREPPLE_SESSION_LOGOUT_IDLE_TIME }}
MIDDLEWARE = (
    "django.contrib.sessions.middleware.SessionMiddleware",
    "django.contrib.messages.middleware.MessageMiddleware",
    "freppledb.common.middleware.MultiDBMiddleware",
    "freppledb.common.middleware.HTTPAuthenticationMiddleware",
    "freppledb.common.middleware.LocaleMiddleware",
    "django.middleware.common.CommonMiddleware",
    "django.middleware.csrf.CsrfViewMiddleware",
)

INSTALLED_APPS = (
  'django.contrib.auth',
  'django.contrib.contenttypes',
  'django.contrib.messages',
  'django.contrib.staticfiles',
  'freppledb.boot',
  {{ default "" .Env.FREPPLE_INSTALLED_APPS_CUSTOM }}
  {{ if .Env.FREPPLE_INSTALLED_APPS_ODOO }}
  'freppledb.odoo',
  {{ end }}
  {{ if .Env.FREPPLE_INSTALLED_APPS_FORECASTING }}
  'freppledb.demandhits',
  'freppledb.forecast',
  'freppledb.webservice',
  {{ end }}
  {{ if .Env.FREPPLE_INSTALLED_APPS_INVENTORY }}
  'freppledb.inventoryplanning',
  {{ end }}
  'freppledb.wizard',
  'freppledb.input',
  'freppledb.output',
  'freppledb.metrics',
  'freppledb.execute',
  'freppledb.common',
  'django_filters',
  'rest_framework',
  'django.contrib.admin',
  'freppledb.archive',
  'freppledb.reportmanager',
  'freppledb.executesql',
)

ATTRIBUTES = {{ default "[]" .Env.FREPPLE_ATTRIBUTES }}

CACHE_GRID_COUNT = {{ default "None" .Env.FREPPLE_CACHE_GRID_COUNT }}
CACHE_PIVOT_COUNT = {{ default "None" .Env.FREPPLE_CACHE_PIVOT_COUNT }}
CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.locmem.LocMemCache",
    }
}

LOGGING = {
    "version": 1,
    "disable_existing_loggers": True,
    "filters": {"require_debug_false": {"()": "django.utils.log.RequireDebugFalse"}},
    "formatters": {
        "verbose": {
            "format": "%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s"
        },
        "simple": {"format": "%(levelname)s %(message)s"},
    },
    "handlers": {
        "null": {"level": "DEBUG", "class": "logging.NullHandler"},
        "console": {
            "level": "DEBUG",
            "class": "logging.StreamHandler",
            "formatter": "simple",
        },
        "mail_admins": {
            "level": "CRITICAL",
            "filters": ["require_debug_false"],
            "class": "django.utils.log.AdminEmailHandler",
        },
    },
    "loggers": {
        "django": {"handlers": ["console"], "level": "INFO"},
        "freppledb": {"handlers": ["console"], "level": "INFO"},
        "freppleapps": {"handlers": ["console"], "level": "INFO"},
    },
}

MAXMEMORYSIZE = {{ default "None" .Env.FREPPLE_MAXMEMORYSIZE }}  # limit in MB, minimum around 230, use None for unlimited
MAXCPUTIME = {{ default "None" .Env.FREPPLE_MAXCPUTIME }}  # limit in seconds, use None for unlimited
MAXTOTALLOGFILESIZE = {{ default "200" .Env.FREPPLE_MAXTOTALLOGFILESIZE }}
THEMES = [
    "earth",
    "grass",
    "lemon",
    "odoo",
    "openbravo",
    "orange",
    "snow",
    "strawberry",
    "water",
]

DEFAULT_USER_GROUP = {{ default "None" .Env.FREPPLE_DEFAULT_USER_GROUP }}
DEFAULT_THEME = "{{ default "earth" .Env.FREPPLE_DEFAULT_THEME }}"
DEFAULT_PAGESIZE = {{ default "100" .Env.FREPPLE_DEFAULT_PAGESIZE }}
DEFAULT_DASHBOARD = [
    {
        "rowname": _("Welcome"),
        "cols": [
            {"width": 8, "widgets": [("inbox", {"limit": 10})]},
            {"width": 4, "widgets": [("news", {})]},
        ],
    },
    {
        "rowname": _("sales"),
        "cols": [
            {
                "width": 9,
                "widgets": [
                    (
                        "analysis_demand_problems",
                        {"top": 20, "orderby": "latedemandvalue"},
                    )
                ],
            },
            {
                "width": 3,
                "widgets": [
                    ("demand_alerts", {}),
                    ("delivery_performance", {"green": 90, "yellow": 80}),
                    ("archived_demand", {"history": 12}),
                ],
            },
        ],
    },
    {
        "rowname": _("purchasing"),
        "cols": [
            {
                "width": 9,
                "widgets": [
                    ("purchase_orders", {"fence1": 7, "fence2": 30}),
                    # ("purchase_queue",{"limit":20}),
                    ("purchase_order_analysis", {"limit": 20}),
                ],
            },
            {
                "width": 3,
                "widgets": [
                    ("archived_purchase_order", {"history": 12}),
                    ("inventory_by_location", {"limit": 5}),
                    ("inventory_by_item", {"limit": 10}),
                ],
            },
        ],
    },
    {
        "rowname": _("distribution"),
        "cols": [
            {
                "width": 12,
                "widgets": [
                    ("distribution_orders", {"fence1": 7, "fence2": 30}),
                    # ("shipping_queue",{"limit":20}),
                    ("archived_buffer", {"history": 12}),
                ],
            }
        ],
    },
    {
        "rowname": _("manufacturing"),
        "cols": [
            {
                "width": 9,
                "widgets": [
                    ("manufacturing_orders", {"fence1": 7, "fence2": 30}),
                    # ("resource_queue",{"limit":20}),
                ],
            },
            {
                "width": 3,
                "widgets": [
                    ("capacity_alerts", {}),
                    ("resource_utilization", {"limit": 5, "medium": 80, "high": 90}),
                ],
            },
        ],
    },
]

AUTH_PASSWORD_VALIDATORS = [
    {
        "NAME": "django.contrib.auth.password_validation.UserAttributeSimilarityValidator"
    },
    {
        "NAME": "django.contrib.auth.password_validation.MinimumLengthValidator",
        "OPTIONS": {"min_length": 8},
    },
    {"NAME": "django.contrib.auth.password_validation.CommonPasswordValidator"},
    {"NAME": "django.contrib.auth.password_validation.NumericPasswordValidator"},
]

EMAIL_USE_TLS = {{ default "True" .Env.FREPPLE_EMAIL_USE_TLS }}
DEFAULT_FROM_EMAIL = "{{ default "your_email@domain.com" .Env.FREPPLE_DEFAULT_FROM_EMAIL }}"
SERVER_EMAIL = "{{ default "your_email@domain.com" .Env.FREPPLE_SERVER_EMAIL }}"
EMAIL_HOST_USER = "{{ default "your_email@domain.com" .Env.FREPPLE_EMAIL_HOST_USER }}"
EMAIL_HOST_PASSWORD = "{{ default "frePPLeIsTheBest" .Env.FREPPLE_EMAIL_HOST_PASSWORD }}"
EMAIL_HOST = {{ default "None" .Env.FREPPLE_EMAIL_HOST }}
EMAIL_PORT = {{ default "25" .Env.FREPPLE_EMAIL_PORT }}
EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"

CONTENT_SECURITY_POLICY = "frame-ancestors 'self'"
X_FRAME_OPTIONS = "SAMEORIGIN"

FTP_PROTOCOL = "{{ default "SFTP" .Env.FREPPLE_FTP_PROTOCOL }}"
FTP_HOST = {{ default "None" .Env.FREPPLE_FTP_HOST }}
FTP_PORT = {{ default "22" .Env.FREPPLE_FTP_PORT }}
FTP_USER = {{ default "None" .Env.FREPPLE_FTP_USER }}
FTP_PASSWORD = {{ default "None" .Env.FREPPLE_FTP_PASSWORD }}
FTP_FOLDER = {
    "default": {{ default "None" .Env.FREPPLE_FTP_FOLDER_DEFAULT }},
    "scenario1": {{ default "None" .Env.FREPPLE_FTP_FOLDER_SCENARIO1 }},
    "scenario2": {{ default "None" .Env.FREPPLE_FTP_FOLDER_SCENARIO2 }},
    "scenario3": {{ default "None" .Env.FREPPLE_FTP_FOLDER_SCENARIO3 }},
}

PORT = {{ default "8000" .Env.FREPPLE_PORT }}

SELENIUM_TESTS = "{{ default "chrome" .Env.FREPPLE_SELENIUM_TESTS }}"
SELENIUM_HEADLESS = {{ default "True" .Env.FREPPLE_SELENIUM_HEADLESS }}

CSRF_COOKIE_SAMESITE = {{ default "None" .Env.FREPPLE_CSRF_COOKIE_SAMESITE }}
CSRF_COOKIE_SECURE = {{ default "True" .Env.FREPPLE_CSRF_COOKIE_SECURE }}
SESSION_COOKIE_SAMESITE = {{ default "None" .Env.FREPPLE_SESSION_COOKIE_SAMESITE }}
SESSION_COOKIE_SECURE = {{ default "True" .Env.FREPPLE_SESSION_COOKIE_SECURE }}
